body {
    margin:auto;
    background-color: #fffafa;
    width: 100vw;
    height: 100vh;
    overflow:hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }


button {
    background-color: #DC776F;
    border:none;
    border-radius : 12px;
    color: #fffafa;
    padding :0.5em;
    font-size: 17px;
}

button:hover{
    background-color: #B6CFA7;
    color:#DC776F;
}

.bubble1 {

    position: absolute;
    width: 386px;
    height: 220px;
    left: -133px;
    top: -64px;
    z-index: -1;
    
    background: #B6CFA7;
    border-radius: 156px;
    }
    
    .bubble2 {
    position: absolute;
    width: 160px;
    height: 326px;
    left: 280px;
    top: 259px;
    z-index: -1;
    
    background: #B6CFA7;
    border-radius: 143px;
    }
    
    .bubble3 {
    
    position: absolute;
    width: 400px;
    height: 394px;
    left: -175px;
    top: 591px;
    z-index: -1;
    
    background: #B6CFA7;
    border-radius: 143px;
    }
    

/* Responsive -> towards desktop */

@media screen and (min-width:410px) {

.bubble2 {
    position: absolute;
    width: 380px;
    height: 326px;
    left: 380px;
    top: 259px;
    }
}

@media screen and (min-width:610px) {

    .bubble2 {
        position: absolute;
        width: 380px;
        height: 326px;
        left: 520px;
        top: 259px;
        }
    }
@media screen and (min-width:768px) {

    .containerTable {
        flex-direction: row;
    }
    
    .bubble1 {
        position: absolute;
        width: 862px;
        height: 220px;
        left: -113px;
        top: -70px;

        background: #B6CFA7;
        border-radius: 156px;
        }

    .bubble2 {

        position: absolute;
        width: 593px;
        height: 628.65px;
        left: 709.86px;
        top: 312.99px;

        background: #B6CFA7;
        border-radius: 143px;
        transform: rotate(-9.77deg);
    }

    .bubble3 {
        position: absolute;
        width: 589px;
        height: 523px;
        left: -248.17px;
        top: 587px;

        background: #B6CFA7;
        border-radius: 184px;
        transform: rotate(11.79deg);
    }
} 

@media screen and (min-width:1024px) {

    .bubble2 {

        width: 593px;
        height: 628.65px;
        left: 909.86px;
    
    }
    }
    